doctype html
head
	title 유튜브 비디오 다운로드
	meta(charset='UTF-8')
	meta(name='description', content='The site can easily download YouTube videos.')
	meta(name='keywords', content='Youtube,Republic of Korea')
	meta(name='author', content='Crong Cloud, Pororo Joa Team Hong YunSeok')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	// UIkit CSS
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/css/uikit.min.css')
	// UIkit JS 
	script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit.min.js')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.20/js/uikit-icons.min.js')
	// Font Awesome
	link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.4.2/css/all.css', integrity='sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns', crossorigin='anonymous')
	