.uk-section-primary.uk-light
	nav.uk-navbar.uk-container.uk-container-expand.uk-sticky.uk-sticky-fixed.uk-active.uk-sticky-below(uk-navbar='dropbar: true')
		.uk-navbar-left
			ul.uk-navbar-nav
				li.uk-active
					a(href='./') 유튜브 비디오 다운로드
		.uk-navbar-right
			ul.uk-navbar-nav
				li
					a(href='./about') 서비스 설명
				li
					a(href='./price') 가격
				li
					a(href='#') 라이센스
				li
					a(href='./developers') 개발자