extends ./includes/layout
block contents
	//- 뽀로로 너무 조아요
	.uk-section.uk-section-primary.uk-dark
		.uk-container.uk-text-center
			h3 서비스 설명
	
	br
	.uk-card.uk-card-default.uk-card-body(class='uk-width')
		.uk-container.uk-text-center
			h3.uk-card-title 개요
			p
				| 유튜브 비디오 다운로드를 할 수 있게 도와주는 사이트를 만들고 싶어서 만들게 되었습니다. (?)
				br
				| 만약 유튜브 비디오 다운로드를 할 일이 생긴다면, 저희 사이트를 이용해주세요!
