extends ./includes/layout
block contents
	//- 뽀로로 너무 조아요
	.uk-section.uk-section-primary.uk-dark
		.uk-container.uk-text-center
			h3 개발자
	
	br
	.uk-card.uk-card-default.uk-card-body(class='uk-width')
		.uk-container.uk-text-center
			h3.uk-card-title 해당 프로젝트를 진행한 개발자 목록입니다. :)
			p
				| 궁금하시다면, 깃랩에서 확인해보세요! 
				a(href="https://gitlab.com/hongyunseok/youtube-video-download") 바로가기
				| 를 통해 알아보세요!
