extends ./includes/layout
block contents
	//- 뽀로로 너무 조아요
	.uk-section.uk-section-primary.uk-dark
		.uk-container.uk-text-center
			h3(name='status') 원하는 영상의 URL를 입력해주세요!
			
			form.uk-search.uk-search-large
				span(uk-search-icon='')
				input.uk-search-input(name='search', type='search', placeholder='유튜브 비디오 링크...')
					
	.uk-section.uk-section-muted
		.uk-container.uk-text-center
			h3 사이트 소개
			.uk-grid-small.uk-grid-match(class='uk-child-width-1-3@m', uk-grid='')
				div
					.uk-card.uk-card-default.uk-card-body
						h3.uk-card-title
							i.fas.fa-download
						p 쉽고 빠르게 유튜브 비디오 영상을 만들 수 있도록 도와줍니다!
				div
					.uk-card.uk-card-default.uk-card-body
						h3.uk-card-title
							i.fas.fa-angry
						p 다운로드가 막혀서, 힘드시지 않으신가요? 그렇다면 해당 사이트를 이용해서 쉽게 다운로드 받아보세요!
				div
					.uk-card.uk-card-default.uk-card-body
						h3.uk-card-title
							i.fas.fa-coffee
						p 커피 마실 시간 동안 여유를 가지고 다운로드를 해보세요!
							
	script(src='index.js')
	if(req.query.status == 'failed')
		script.
			setStatus('#f0506e', 'URL이 잘못되었습니다. (관리자 문의)', 2000);