extends ./includes/layout
block contents
	//- 뽀로로 너무 조아요
	.uk-section.uk-section-primary.uk-dark
		.uk-container.uk-text-center
			h3 가격
	
	br
	.uk-card.uk-card-default.uk-card-body(class='uk-width')
		.uk-container.uk-text-center
			p
				| 저희는 돈을 일절 받지 않습니다! 오로직 무료 입니다!
